// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// stile homepage
@import 'footer';
@import 'header';
@import 'login';


// Bootstrap
@import '~bootstrap/scss/bootstrap';



#app{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main{
    /* min-height:calc(100vh - (280px + 70px));  */
    flex-grow: 2;
}