.title-text{
    text-align: center;
}
#messages{
    display: flex;
    align-items: center;
    flex-direction: column;
    .card{
        padding: 50px;
        border-radius: 25px;
        border: none;
        /* border: 1px solid #001632!important; */
        box-shadow: 0px 3px 8px 0px #dee4ec;
        
        .card-body{
            background-color: #f7f7f7;
            border-radius: 10px;
            padding: 10px;

        }
    }
}