


.btn_add{
    
    border-radius: 20px!important;
    background-color: #001632!important;
    padding: 10px 15px!important;
    border-color: #001632!important;
    color: white;
}
.flat_container{
    padding: 50px 60px;
    border-radius: 13px;
}

#flats{
    display: flex;
    align-items: center;
    flex-direction: column;
    .card{
        padding: 30px;
        border-radius: 25px;
        border: none;
        box-shadow: 0px 3px 8px 0px #dee4ec;
        
        .card-body{
            background-color: #f7f7f7;
            border-radius: 10px;
            padding: 10px;

        }
    }
}