#prova{
    color: red;
}

.bg_color{
    position:relative ;
    /* min-height: 280px; */
    /* background-image: #dee4eced, url(./storage/app/public/img/montagna.jpg); */
    background-image:  linear-gradient(to bottom, #dee4eced 10%, #dee4ec), url('/images/pat.jpg'); 
    background-repeat: repeat;
    background-size: contain;
    
    
    
        ul{
            padding: 0px;
            list-style: none;
            li{
                h4{
                    font-weight: 800;
                }
                a{
                    color: black;
                    text-decoration: none;
                } 
            }
        }
        .logo_cont{
            display: flex;
            justify-content: center;
            img{
                /* max-width: 230px; */
                object-fit: cover;
    
                
            }
        }
    
        .footer_bar{
            color: #9aa3af;
        }
        .footer-end{
            a{
                color: #001632;
            }
        }
    
    
}