
nav{
    height: 70px;
    border-bottom: 1px solid #DEE4EC;
    .menu{
        .dropdown{
            a{
                text-decoration: none;
                color: black;
                padding: 0px 5px;
            }
            #dropdownMenuLink {
                color: rgb(0, 0, 0)!important;
                background-color: #DEE4EC!important;
                border-color: #ffffff!important;
                :focus{
                    box-shadow:none!important;
                } // da vedere
            }

        }
    }
}