.GuestSponsoredCard{
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .TextCard{
        color: white;
        font-weight: bold;
        opacity: 0;
        position: absolute;
        text-align: center;
        background-color: #00163281;
        top: 0;
        bottom: 0;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    };
}
.Hero_GuestPage{
    background-image:linear-gradient(to bottom, rgba(245, 246, 252, 0) 10%, rgba(0, 0, 0, 0.336)), 
    url(./storage/app/public/img/Assistenza.jpg);
    background-size: cover;
    height: 90vh;
    background-position: center;
   
}

.recommendedPlaces{
    position: relative;
    
    .RecomenText{
        color: white;
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        font-weight: 600;
        background-color: #00163281;
        top: 0;
        display: flex;
        bottom: -10px;
        align-items: center;
        justify-content: center;
        opacity: 0;
    }
}

.recommendedPlaces{
    overflow: hidden;
    border-radius: 25px;
    height: 100%;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    
}

.recommendedPlaces{
    &:hover{
        cursor: pointer;
        .RecomenText{
            opacity: 1;
        }
    }
}

.homePage{


    h1{
        font-weight:bold;
        color: white;
    }
    position: absolute;
    transform: translateY(50%);
    bottom: 40%;
    right: 0;
    left: 0;
    width: 100%;
    align-items: center;

    #search-box{
    
        .tt-search-box{
            overflow: hidden!important;
            border-radius: 25px!important;
            margin:auto;
           
        
            .tt-search-box-input-container{
                 border-radius: 25px!important;
                
            }
        
        }
    }
}
.GuestSponsoredCard{
    &:hover{
        .TextCard{
            opacity: 1;
        }
    }

    .TextCard{
        .btn-primary{
            background-color: #001632;
            border: 1px solid #0335777e;
            color: white;
            border-radius: 15px;

        }
    }
       
   
}


.chiSiamo{
    line-height:1.8;
}