#container-input-paths{
   
    

    input[type="file"]{
        display: none;
    }
    label{
        display: block;
        position: relative;
        background-color: #025bee ;
        color: white;
        text-align: center;
        margin: auto;
        border-radius: 5px;
        cursor: pointer;
        width: 30%;
        padding: 10px;
    }
}